{% block title %} Delete Brands {% endblock %}
{% include 'header.html' %}
{% extends 'base.html' %}
{% block content %}
<div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="alert alert-info">
          {% for message in messages %}
            <li><strong>{{message}}</strong></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}/
  <main>
    <div class="container outer">
      <div class="card card-new mx-auto mt-5">
        <div class="card-header">Delete {{br.name}} Brand</div>
        <div class="card-body">
          <form action="{{url_for('deleteBrand',brand_id=br.id)}}" method='POST'>

            <div class="form-group ">
              <div class="form-row">
                <div class="col-md-12">
                  <label>Are You Sure, Want To Delete {{ br.name }} Brand ?</label>
                </div>
              </div>
            </div>

            <input type="submit" class="btn btn-danger btn-block"  value="Delete">
            <a href="{{url_for('showBrands')}}"> <input type="button" class="btn btn-primary btn-block"  value="Cancel"> </a>

          </form>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}